.newscards-contacto {



    width: 100%;
    height: 600px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: #fff;

    section {

        text-align: center;

    }

    iframe {
        border-bottom: 30px;
        width: 600px;
    }


}